@page "{bookId:int}"
@model ReadingLog.App.Pages.Books.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Book</h3>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Book.Title?
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="./List" class="btn btn-default">Cancel</a>
</form>

