@page
@model ReadingLog.App.Pages.Books.ListModel
@{
    ViewData["Title"] = "Books";
}

<h3>Books DT</h3>

<table class="table" id="bookTable"></table>

<a asp-page="./Edit" class="btn btn-sm btn-primary">Add New</a>

@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
    <script>
        var data = @Html.Raw(Json.Serialize(@Model.Books));

        console.log(data);

        $('#bookTable').DataTable({
            data: data,
            columns: [
                { data : "title" },
                { data : "authorId" },
                { data : "status" },
                { data : "startDate" },
                { data : "endDate" },
                { data : "daysReading.days" }
            ]
        });
    </script>
}