@page "{authorId:int}"
@model ReadingLog.App.Pages.Authors.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Author.FirstName @Model.Author.LastName?
    All books from this author will be deleted too.
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="./List" class="btn btn-default">Cancel</a>
</form>