@page "{authorId:int}"
@model ReadingLog.App.Pages.Authors.DetailModel
@{
    ViewData["Title"] = "Author Details";
}

<h1>Detail</h1>

<div class="card" style="width: 18rem">
    <img src="~/img/avatar.png" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Model.Author.FirstName @Model.Author.LastName</h5>
        <p class="card-text">Author description</p>
        <a asp-page="./Edit" asp-route-authorId="@Model.Author.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./List" class="btn btn-primary">List</a>
    </div>
</div>

