@page "{authorId:int?}"
@model ReadingLog.App.Pages.Authors.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Author</h1>

<form method="post">
    <input type="hidden" asp-for="Author.Id" />
    <div class="form-group">
        <label asp-for="Author.FirstName">First Name</label>
        <input class="form-control" asp-for="Author.FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="Author.LastName">Last Name</label>
        <input class="form-control" asp-for="Author.LastName" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Delete" asp-route-authorId="@Model.Author.Id" class="btn btn-danger">Delete</a>
    <a asp-page="./List" class="btn btn-secondary">Cancel</a>
</form>